@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Mvc.Localization
@inject IOptions<RequestLocalizationOptions> locOptions
@inject IViewLocalizer _lang
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BruShop.Web</title>
   
    <link rel="stylesheet" href="~/css/normalize.css">
    <link rel="preconnect" href="~/css/fonts.css">
    <link rel="stylesheet" href="~/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/css/slick.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="wrapper">
        @{
            Html.RenderPartial("_HeaderArea");
        }

        @RenderBody()


        @{
            Html.RenderPartial("_FooterArea");
        }
    </div>
    

    @section scripts{
        <script>
            function SetCulture(selectValue) {
                var culture = "/?culture=" + selectValue;
                console.log(culture);
                document.getElementById("cultureForm").action = culture;
                document.getElementById("cultureForm").submit();
                //cultureForm
            }
        </script>
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="~/js/jquery.fancybox.min.js"></script>
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
