@{
    Layout = "_Layout";
}
    <div class="container" style="padding-bottom: 100px">
        <div class="slider__title pay__title">
            ДОСТАВКА И ОПЛАТА
        </div>
        <div class="slider__text pay__text">
            Формирование и отправка заказа занимает от 1 до 4 рабочих дней при наличии товара на складе.

        </div>
        <div class="slider__text pay__text">
            Доставка до пункта выдачи или постомата СДЭК: Стоимость доставки рассчитывается после заполнения адресных
            полей.

        </div>
        <div class="slider__text pay__text">
            Доставка Почтой России: единый тариф по России — 290 рублей, международная доставка — 700 рублей.
        </div>

        <div class="slider__title pay__title">
            Оплата:
        </div>
        <div class="slider__text pay__text">
            Вы можете оплатить свой заказ банковскими картами систем VISA, Master Card и МИР
        </div>
        <div class="slider__text pay__text">
            Оплата при доставке в пункте выдачи или курьеру СДЭК
        </div>
    </div>
