@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?1i6dvl');
  src:  url('../fonts/icomoon.eot?1i6dvl#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?1i6dvl') format('truetype'),
    url('../fonts/icomoon.woff?1i6dvl') format('woff'),
    url('../fonts/icomoon.svg?1i6dvl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  }

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bookmark:before {
  content: "\e901";
}
.icon-add-user:before {
  content: "\e902";
}
.icon-brush:before {
  content: "\e903";
}
.icon-chat:before {
  content: "\e904";
}
.icon-check:before {
  content: "\e905";
}
.icon-emoji-happy:before {
  content: "\e906";
}
.icon-round-brush:before {
  content: "\e907";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-comments:before {
  content: "\f086";
}
.icon-phone:before {
  content: "\f095";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-shopping-basket:before {
  content: "\f291";
}
.icon-newspaper:before {
  content: "\e908";
}
